# Ignore everything by default
/*
/.config/*


# Allow .gitignore and readme
!.gitignore
!README.md

# Dotfiles to keep
!.zshrc
!.aliases
!.gitconfig
!.gitmodules

# Config directories to keep
!.config/
!.config/htop/
!.config/gtk-2.0/
!.config/gtk-3.0/
!.config/gtk-4.0/
!.config/kitty/
!.config/mako/
!.config/nvim/
!.config/rofi/
!.config/sway/
!.config/waybar/
!.config/zathura/

# Theme files
!.themes/
!.themes/Silvery-GTK/
