[user]
    name = João Oliveira
    email = hello@jxs.pt
[color]
	ui = true
[diff]
    colorMoved = default
[core]
    pager = delta
[delta]
    syntax-theme = ZenBurn
    features = line-numbers decorations
[interactive]
    diffFilter = delta --color-only
[url "https://"]
	insteadOf = git://
[init]
	defaultBranch = main
[credential]
	helper = store
[oh-my-zsh]
    hide-info = 1
