[user]
        name = João Oliveira
        email = hello@jxs.pt
[color]
        ui = true
[core]
        excludesfile = /Users/jxs/.global_gitignore
	editor = vim
[color "diff"]
        whitespace = red reverse
