configuration {
    modi: "drun,window,combi,calc";
    font: "Liberation Sans 12";
    show-icons: true;
    matching: "fuzzy";
    combi-modi: "drun,window,calc";
    terminal: "kitty";
}
@theme "slate"
