configuration {
    modi: "drun,window,combi,calc";
    theme: "android_notification";
    font: "hack 10";
    show-icons: true;
    matching: "fuzzy";
    combi-modi: "drun,window,calc";
    terminal: "termite";
}
